:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
  --width: 400px;
  --border: 0%;
}

#image {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  width: var(--width);
  border-radius: var(--border);
  min-width: 300px;
}

.hl {
  color: var(--base);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 25px;
  background: #193549;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
}

.controls {
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.controls label {
  margin: 0 10px;
  padding: 10px;
}

input {
  width: 100px;
}
