.back-home {
  font-size: 1rem;
  position: absolute;
}

.back-home:hover {
  font-size: 1.2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  min-height: 100%;
  padding-top: 4.5rem;
}

.videos {
  display: flex;
  flex-wrap: wrap;
}

.videos li {
  width: calc(100% / 6);
  border: 1px solid #000;
  flex-grow: 1;
  min-height: 120px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.answer {
  margin-bottom: 3rem;
}
