html,
body {
  width: 100%;
  height: 100%;
}

.back-home {
  position: fixed;
  text-decoration: none;
  color: rgb(43, 172, 11);
  background: rgba(180, 138, 103, 0.4);
  font-size: 1.5em;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  z-index: 99999;
}

.back-home:hover {
  background: rgba(180, 138, 103, 1);
  font-size: 2rem;
  color: rgb(15, 250, 15);
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffc600;
}

.photobooth {
  background: white;
  max-width: 150rem;
  /* margin: 2rem auto; */
  border-radius: 2px;
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  width: 100%;
  float: left;
}

.player {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
}

/*
  Strip!
*/

.strip {
  padding: 2rem;
}

.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background: white;
}

.strip a:nth-child(5n + 1) img {
  transform: rotate(10deg);
}
.strip a:nth-child(5n + 2) img {
  transform: rotate(-2deg);
}
.strip a:nth-child(5n + 3) img {
  transform: rotate(8deg);
}
.strip a:nth-child(5n + 4) img {
  transform: rotate(-11deg);
}
.strip a:nth-child(5n + 5) img {
  transform: rotate(12deg);
}
