html {
  font-size: 10px;
  background: #122529 url(../images/background.jpg) center center no-repeat;
  background-size: cover;
}

body,
html {
  font-family: Impact, sans-serif;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid rgb(34, 28, 28);
  border-radius: 50%;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #523232,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 6px;
  background: beige;
  position: absolute;
  top: 50%;
  border-radius: 5px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.07s;
  transition-timing-function: cubic-bezier(0, 2, 1, 1);
}

.hour-hand {
  z-index: 1;
  width: 25%;
  left: 25%;
}
.min-hand {
  z-index: 2;
}
.second-hand {
  z-index: 3;
  background: black;
  height: 0.3rem;
}

.center {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  z-index: 4;
  background: rgb(0, 0, 0);
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  top: 48%;
  left: 47%;
}

.no-transition {
  transition: none !important;
}

.digital {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 4rem;
  color: aqua;
}
