html {
  font-size: 10px;
}

.wrapper {
  background: url(../images/background.jpg) fixed;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.items {
  height: 90%;
  width: 100%;
  padding: 10rem;
  border: 1px solid white;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  font-size: 0;
  perspective: 50rem;
  background: rgba(255, 255, 255, 0.4);
}

.items.active {
  background: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  width: 20rem;
  height: calc(100% - 4rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.15);
}

.item:nth-child(9n + 1) {
  background: dodgerblue;
}
.item:nth-child(9n + 2) {
  background: goldenrod;
}
.item:nth-child(9n + 3) {
  background: paleturquoise;
}
.item:nth-child(9n + 4) {
  background: gold;
}
.item:nth-child(9n + 5) {
  background: cadetblue;
}
.item:nth-child(9n + 6) {
  background: tomato;
}
.item:nth-child(9n + 7) {
  background: lightcoral;
}
.item:nth-child(9n + 8) {
  background: darkslateblue;
}
.item:nth-child(9n + 9) {
  background: rebeccapurple;
}

.item:nth-child(5n + 1) {
  background: url(../images/test-01.jpeg) center center;
  background-size: cover;
}
.item:nth-child(5n + 2) {
  background: url(../images/test-02.jpeg) center center;
  background-size: cover;
}
.item:nth-child(5n + 3) {
  background: url(../images/test-03.jpeg) center center;
  background-size: cover;
}
.item:nth-child(5n + 4) {
  background: url(../images/test-04.jpg) center center;
  background-size: cover;
}
.item:nth-child(5n + 5) {
  background: url(../images/test-05.jpg) center center;
  background-size: cover;
}

.item:nth-child(even) {
  transform: scaleX(1.31) rotateY(40deg);
}
.item:nth-child(odd) {
  transform: scaleX(1.31) rotateY(-40deg);
}
